@model ADO.NET_APP.Models.Candidate
<h2>Candidate Details</h2>
<div>
    <p><strong>ID :</strong>@Model.CandidateID</p>
    <p><strong>Name :</strong>@Model.Name</p>
    <p><strong>Stack :</strong>@Model.Stack</p>
    <p><strong>Education :</strong>@Model.Education</p>
    <p><strong>Place</strong>@Model.Place</p>
</div>
